html {
      font-family: "Helvetica Neue", Helvetica, PingFang, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
    .title {
      text-align: center
    }

    body {
      -webkit-overflow-scrolling: touch;
      position: relative;
    }

    h1,
    h2,
    h3,
    div,
    ul,
    li,
    dl,
    dt,
    dd,
    button,
    input,
    header,
    main,
    footer,
    p,
    button,
    body {
      padding: 0;
      margin: 0;
      -webkit-overflow-scrolling: touch;
      outline: none;
    }

    ul li {
      list-style: none;
    }

    header {
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      font-weight: bold;
    }

    .main-wrap {
      display: flex;
      justify-content: space-around
    }

    .column-warp {
      flex-direction: column;
    }

    .main-wrap>div {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px 0;
    }

    .title {
      font-size: 16px;
      color: #333;
      font-weight: bold;
      margin-bottom: 20px
    }

    .input-wrap {
      font-size: 14px;
      color: #333;
      margin: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .input-wrap span {
      margin-right: 4px;
      width: 90px;
    }

    .input-wrap input {
      height: 28px;
      width: 160px;
      line-height: 28px;
      border-radius: 2px;
      border: 1px #cdcdcd solid;
      padding-left: 8px;
    }

    .left {
      border-right: 1px #ccc solid;
    }

    .download {
      width: 140px;
      font-size: 14px;
      height: 30px;
      font-weight: bold;
      border: 1px #cdcdcd solid;
      background: #fcfcfc;
      border-radius: 4px;
      margin-top: 20px;
      cursor: pointer;
    }

    .download:hover {
      opacity: .5;
    }


    #date-select {
      height: 28px;
      width: 160px;
      line-height: 28px;
      border-radius: 2px;
      border: 1px #cdcdcd solid;
    }

    .table-warp {
      padding-top: 0 !important;
    }

    .table-warp .song-name {
      font-size: 18px;
      color: #333;
      font-weight: bold;
    }

    .table-warp .author {
      font-size: 14px;
      color: #999;
    }

    .table {
      width: 400px;
      display: flex;
      max-height: 200px;
      overflow-y: auto;
      border: #9f9f9f 1px solid;
      border-radius: 4px;
    }

    .table ul {
      flex: 1
    }

    .table ul li {
      white-space: nowrap;
      padding: 4px;
      border-left: #9f9f9f 1px solid;
      border-bottom: #9f9f9f 1px solid;
      text-align: center;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
    }

    .table ul li:last-child {
      border-bottom: none
    }

    .table-title {
      font-weight: bold;
    }

    .table .index-warp li {
      border-left: none;
    }

    .placeholder-block {
      height: 40px
    }

    #track-list {
      margin: 0 auto;
    }

    .operation-warp {
      /* border-left: #9f9f9f 1px solid; */
    }

    .cancel {
      width: 60px;
      font-size: 12px;
      border-radius: 4px;
      background: #fff;
      display: block;
      margin: 0 auto;
    }
    .tip {
      font-size: 14px;
      color: #333;
      text-align: center;
      height: 30px;
      line-height: 30px;
      margin-top: 10px;
    }
    .upload-btn-wrap {
      width: 300px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 10px;
      border: 1px #ccc solid;
      cursor: pointer;
      overflow: hidden;
    }
    .upload-btn-wrap svg {
      width: 20px;
      height:20px;
      margin-right: 10px;
    }
    .upload-btn-wrap input {
      position: absolute;
      opacity: 0;
      font-size: 100px;
      width: 300px;
      height: 100px;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .upload-btn-wrap span {

    }
    .config-list {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      color: #333;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .list-header,.list-main {
      display: flex;
      justify-content: space-around;
      width: 400px;
    }
    .list-header {
      font-weight: bold;
    }
    .list-header div,.list-main ul {
      width: 100px;
    }
    .list-main ul li {
      min-height: 24px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px #ccc solid;
      margin-bottom: 10px;
    }
    .h li {
      height: 54px;
      align-items: center;
      justify-content: center;
    }
    .h li p, #push {
      font-size: 14px;
      text-decoration: underline;
      padding: 0 5px;
      cursor: pointer;
      color: blue
    }
    .h li .del {
      color: #f00
    }
